---
apiVersion: kubeadm.k8s.io/v1beta3
kind: InitConfiguration
{{  kube_cfg_init_conf | to_nice_yaml}}
---
apiVersion: kubeadm.k8s.io/v1beta3
kind: ClusterConfiguration
{{ kube_cfg_cluster_conf | to_nice_yaml }}
{% if kube_cfg_kubelet_conf |length > 0 %}
---
apiVersion: kubelet.config.k8s.io/v1beta1
kind: KubeletConfiguration
{{ kube_cfg_kubelet_conf | to_nice_yaml }}
{% endif %}
{% if kube_cfg_kubeproxy_conf | length > 0 %}
---
apiVersion: kubeproxy.config.k8s.io/v1alpha1
kind: KubeProxyConfiguration
{{ kube_cfg_kubeproxy_conf | to_nice_yaml }}
{% endif %}
