---
apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: root-app
  namespace: {{ argocd_namespace }}
spec:
  destination:
    namespace: {{ argocd_namespace }}
    server: {{ kube_server }} #https://kubernetes.defaults.svc
  project: default
  source:
    path: kubernetes/apps
    server: {{ gitlab_repourl }} #https://gitlab.com/chxmxii/cluster-template-coralio.git
    targetRevision: HEAD
    directory:
      recurse: true
      include: "*.app.yaml"
  syncPolicy:
    automated:
      selfHeal: true
      prune: true
    syncOptions:
      - CreateNamespace=true
