---
apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: root-app
  namespace: {{ argocd_namespace }}
spec:
  destination:
    namespace: {{ argocd_namespace }}
    server: {{ kube_server }}
  project: default
  source:
    path: kubernetes/apps
    repoURL: {{ git_repo.gitlab_url }}
    targetRevision: HEAD
    directory:
      recurse: true
      include: "*.app.yaml"
  syncPolicy:
    automated:
      selfHeal: true
      prune: true
    syncOptions:
      - CreateNamespace=true
